.login-form{
    border: 1px solid black;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(233, 194, 205);
}
.login-form h2{
    color: rgb(70, 65, 169);
    font-size: 36px;
}
.login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form form input{
    margin: 10px;
    width: 60%;
    border-radius: 25px;
    padding: 6px 14px;
}
.login-img img{
    width: 500px;
}
.login-btn{
    color: white;
    border: none;
    margin: 14px;
    width: 50%;
    border-radius: 30px;
    padding: 8px 20px;
    font-weight: 600;
    background-color: teal;
}
.login-form a{
    font-size: 18px;
    font-weight: 500;
}