.star-icon{
    color: rgb(247, 156, 37);
    font-size: 20px;
}

.review-card:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}
.review-card-body{
    min-height: 300px;
    text-align: left;
    background-color: #34495E;
    color: #fff;
    border-radius: 5px;
}
    