.about-section{
    margin: 40px;
    text-align: justify;
}
.about-section h2{
    font-size: 40px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}