.site-name{
    font-size: 24px;
    margin-left: 14px;
    color: tomato;
    font-weight: 600;
}
.menu-bar a{
text-decoration: none;
font-size: 18px;
font-weight: 500;
margin-right: 18px;
color: white;
}
.display-name{
    font-size: 18px;
    font-weight: 500;
    margin-right: 14px;
    color: white;
}